<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static 'css/form.css' %}">
</head>
<body  style="background-color: aqua;">
    <div>
        <form action="">
            <label for="">f_name:</label>
            <input type="text"><br><br>
            <label for="">l_name:</label>
            <input type="text"><br><br>
            <label for="">phone:</label>
            <input type="number"><br><br>
            <label for="gender">gender:</label><br>
            <label for="">male</label>
            <input type="radio" name="gender">
            <label for="">female</label>
            <input type="radio" name="gender">
            <br><br>
            <div class="sub">
                <label for="subjects">subjects :</label><br>
            <label for="">java</label>
            <input type="checkbox" name="subjects">
            <label for="">python</label>
            <input type="checkbox" name="subjects">
            <label for="">sql</label>
            <input type="checkbox" name="subjects"><br><br>

            </div>
            
            <label for="block">block:</label><br>
            <select name="" id="">
                <option value=""></option>
                <option value="">mca</option>
                <option value="">btech</option>
                <option value="">degree</option>
                <option value="">inter</option>
            </select><br><br>
            <input type="file" accept=".pdf"><br><br>
            <textarea name="" id="" rows="10" cols="10" placeholder="enter about your self"></textarea><br>
            <input type="reset" value="reset">
            <button style="background-color: brown;">submit</button>

        </form>
    </div>
    <img src="{% static 'img/HACKOTHON.jfif' %}" alt="">
    
</body>
</html>