<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {font-family: Arial; background:#f2f2f2;}
        form {width:350px; margin:80px auto; background:#fff; padding:25px; border-radius:10px;}
        input {width:100%; padding:8px; margin:6px 0;}
        button {background:#28a745; color:white; padding:10px; border:none; width:100%; cursor:pointer;}
        a {text-decoration:none; color:#007bff;}
    </style>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h2>Login</h2>
        {{ form.as_p }}
        <button type="submit">Login</button>
        <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    </form>
</body>
</html>